*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 390px;
    }
    html{
        scroll-behavior: smooth;
    }
    @font-face {
        font-family: "Hillshort";
        src: url(../font/Hillshort.otf);
    }
    
    .swiper-slide.pc-only{
        display: none;
    }
    .pc-only{
        display: none;
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #main-header{
        width: 100%;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        
    /* #gnb > ul {
        display: flex;
    }
    
    #gnb > ul > li >a {
        color: #333;
        width: 110px;
        line-height: 45px;
        display: inline-block;
        text-align: center;
        font-family: 'Noto Sans KR';
    }
     */
    #gnb{
        background-color: #4256A4;
        position: absolute;
        width:100%;
        height: 200px;
        top: 50px;
        padding: 20px 15px;
        font-family: 'Montserrat';
        display: none;
    }
    #gnb.on{
    display: block;
    z-index: 100;
    }
    .logo{
        color: #0B004E;
        font-family: "Hillshort";
        font-size: 38px;
        font-weight: normal;
    }
    
    #gnb>ul>li:not(:last-child){
    margin-bottom: 1.5em;
    }
    #gnb>ul>li>a{
        color: #333;
        font-size: 18px;
    }
    #gnb-toggle-btn{
        position: absolute;
        right: 20px;
        top: 10px;
        border-style: none;
        background-color: transparent;
    }
    
    #gnb-toggle-btn:hover{
        cursor: pointer;
    }
    
    #gnb > ul > li >a:hover{
        color:#fff;
        font-size: 20px;
    }
    
    
    #title{
        margin: 0 auto;
        width: 100%;
        height: 600px;
        background-color: #0B004E;
    }
    #title h1{
        font-family: "Hillshort";
        font-size: 48px;
        color: rgba(255, 255, 255, 0.4);    
        padding-top: 250px;
        padding-bottom: 250px;
        text-align: center;
        font-weight: normal;
        z-index: 10;
    }
    #title h2{
        z-index: 20;
        color: #FFFFFF;
        font-size: 28px;
        font-family: 'Fugaz One', cursive;
        text-align: center;
        position: relative;
        top:-290px
    }
    #p-1{
        font-family: "Hillshort";
        color: rgba(255, 255, 255, 0.4);    
        font-size: 28px;
        position: relative;
        top: -500px;
        left: 10%;
    }
    
    #p-2{
        font-family: "Hillshort";
        color: rgba(255, 255, 255, 0.4);    
        font-size: 28px;
        position: relative;
        left: 65%;
        top: -200px;
    }
    
    #about{
        margin: 0 auto;
        width: 100%;
        margin-top: 100px;
    }
    .photo{
        position: relative;
        top: -10px;
        left: 20%;
        width: 250px;
        margin-bottom: 50px;
    }
    #about h1{
        font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 24px;
            text-align: center;
    }
    #about> p{
        font-family: 'Noto Sans KR';
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 50px;
        color: #666;
        text-align: center;
    }
    #about> p span{
        color: #000D7D;
    }
    .profile{
        margin: 0 auto;
        position: relative;
        left: 80px;
        margin-bottom: 20px;
    }
    .bar{
        width: 80px;
        height: 1px;
        background-color: #666;
        margin-right: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .profile>h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #0B004E;
    }
    .profile p{
        font-family: 'Noto Sans KR';
        font-size: 16px;
    }
    .bar-2{
        width: 80px;
        height: 1px;
        background-color: #666;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .experience{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        left: 80px;
        margin-bottom: 20px;
    }
    
    .experience>h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #0B004E;
    }
    .experience p{
        font-family: 'Noto Sans KR';
        font-size: 16px;
        text-align: left;
    }
    .experience p>span{
        color: #666;
        margin-right: 15px;
    }
    .skills>h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #0B004E;
    }
    .skills{
        margin: 0 auto;
        position: relative;
        left: 80px;
    }
    .bar-3{
            width: 60px;
            height: 1px;
            background-color: #666;
            margin-right: 13px;
            margin-top: 10px;
            margin-bottom: 20px;
    }
    .skills-img ul{
        display: flex;
        position: relative;
    }
    .skills-img ul li{
        margin-left: 5px;
        margin-right: 5px;
    }
    .skills-img ul li img{
        width: 30px;
    }
    .skills-img ul li:first-child{
        margin-left: 0px;
    }

    /*work*/
    #work{
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
    }
    #work-list{
        margin-top: 30px;
    }
    .little-h{
        font-style: 20px;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-weight: 300;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
    }.little-h2{
        font-style: 20px;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-weight: 300;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: right;
    }
    
    #work h1{
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 24px;
        text-align: center;
    }

    .work-img1{
        width: 100%;
        height: 300px;
        background-color: #BDD6ED;
    }
    
    .work-img1 h3{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 18px;
        padding-top: 10px;
        margin-left: 10px;
        color: #fff;
    }
    .page{
        width: 150px;
        padding: 10px 20px;
        height: 30px;
        background-color: #BDD6ED;
        color: #666;
        font-size: 14px;
        border-radius: 20px;
        position: relative;
        left: 250px;
    }
    .detail{
    display: none;
    }
    .page2{
        width: 150px;
        padding: 10px 20px;
        height: 30px;
        background-color: #252B6B;
        color: #fff;
        font-size: 14px;
        border-radius: 20px;
        position: relative;
        left: 250px;
    }
    .detail2{
        display: none;
    }
    

    .work-text{
        display: flex;
        width: 100%;
        height: 400px;
        max-width: 390px;
        background-color: #FFFBF1;
    }
    .over{
        font-family: 'Noto Sans KR';
        margin-top: 20px;
        width: 188px;
    }
    .over h3{
        font-size: 16px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .over p{
        font-size: 14px;
        margin-left: 10px;
    }
    .over h4{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    .work-info{
        margin-top: 0.5em;
    }
    .over h5{
        margin-top: 1em;
        margin-left: 10px;
    }
    .work-img2{
        width: 100%;
        height: 300px;
        background-color: #252B6B;
    }
    .work-img2 h3{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 18px;
        padding-top: 14px;
        margin-left: 14px;
        color: #fff;
    }
    .work-list:nth-child(2n){
        flex-direction: row-reverse;
    }
    .work-img3{
        width: 100%;
        height: 300px;
        background-color: #BDD6ED;
    }
    .work-img3 h3{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 18px;
        padding-top: 14px;
        margin-left: 14px;
    }
    .work-img4{
        width: 100%;
        height: 300px;
        background-color: #252B6B;
    }
    .work-img4 h3{
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 18px;
        padding-top: 14px;
        margin-left: 14px;
        color: #fff;
    }
    
    /*스와이퍼*/
    .swiper {
        width: 100%;
        height: 300px;
        margin-top: -40px;

      }
    
      .swiper-slide {
        text-align: center;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    
      .swiper-slide img {
          width: 250px;
        display: block;
        object-fit: cover;
      }
      .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border-radius: 20;
        background-color: #FFFBF5;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background-color: #0B004E;
        opacity: 1;
    }
    .swiper-pagination{
        bottom: 50px !important;
    }
    /*갤러리*/
    .container2 {
        width: 90%;
        margin: 0 auto;
      }
      
    #gallery{
        margin-top: 100px;
    }
    #gallery h2{
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    #gallery .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      #gallery .col {
        width: 32%;
        aspect-ratio: 4/3;
        /* outline: 1px solid red; */
        box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
        margin-bottom: 20px;
      }
      
      #gallery .box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    

      #contact{
        width: 100%;
        margin: 0 auto;
        background-color: #FFFBF1;
        margin-top: 100px;
        height: 600px;
    }
    #contact h5{
        font-family: 'Montserrat', sans-serif;    
        font-size: 36px;
        font-weight: 700;
        color: #0B004E;
        position: relative;
        top: -300px;
        left: 80px;
    }
    .con-1{
        width: 300px;
        position: relative;
        top: 100px;
        left: 50px;
    }
    .con-2{
        width: 150px;
        position: relative;
        left: 220px;
    }
    .con-3{
        position: relative;
        width: 70px;
        top:-380px;
        right: -150px;
        animation: ani 3s linear infinite;
    }
    @keyframes ani{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            right: 0px;
        }
    }
    .con-4{
        width: 70px;
        position: relative;
        bottom: 100px;
        right: 200px;
        top: 50px;
        animation: con 3s linear infinite;
    }
    @keyframes con{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            right: 80px;
        }
    }
    
    #contact .adress{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        position: relative;
        top: -210px;
        right: 40px;
        color: #000;
        text-align: right;
    }
    #contact .adress span{
        font-size: 14px;
    }
    #contact a{
        display: none;
    }
    .adress p>span{
        animation: nav  2s linear  infinite;
    }
    @keyframes nav {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    