*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Hillshort";
    src: url(../font/Hillshort.otf);
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.mobile-only{
    display: none;
}
.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-header {
    width: 100%;
    min-width: 1120px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 990;
    overflow: hidden;
    position: fixed;
}

#gnb > ul {
    display: flex;

}

#gnb > ul > li >a {
    color: #333;
    width: 110px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat';
}
#gnb > ul > li:nth-child(1){
    animation: move 1s linear forwards;
}
@keyframes move {
    0%{
        position: relative;
        right: -100px;
    }
    50%{
        right:-50px
    }
    100%{
        right: 0px;
    }
}
#gnb > ul > li:nth-child(2){
    animation: move  0.7s 0.7s linear  forwards;
}
@keyframes move {
    0%{
        position: relative;
        right: -100px;
    }
    50%{
        right:-50px
    }
    100%{
        position: relative;
        right: 0;
    }
}
#gnb > ul > li:nth-child(3){
    animation: move  0.7s 1.4s linear  forwards;
}
@keyframes move {
    0%{
        position: relative;
        right: -100px;
    }
    50%{
        right:-50px
    }
    100%{
        position: relative;
        right: 0;
    }
}
#gnb > ul > li:nth-child(4){
    animation: move  0.7s 2.1s linear  forwards; 
}
@keyframes move {
    0%{
        position: relative;
        right: -100px;
    }
    50%{
        right:-50px
    }
    100%{
        position: relative;
        right: 0;
    }
}

#gnb > ul > li >a:hover{
    color:#252B6B;
    font-size: 20px;
}


#title{
    margin: 0 auto;
    width: 100%;
    height: 1120px;
    background-color: #0B004E;
}
#title h1{
    font-family: "Hillshort";
    font-size: 140px;
    color: rgba(255, 255, 255, 0.4);    
    padding-top: 550px;
    text-align: center;
    font-weight: normal;
    z-index: 10;
}
#title h2{
    z-index: 20;
    color: #FFFFFF;
    font-size: 75px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    margin-top: -90px;
}
#p-1{
    font-family: "Hillshort";
    color: rgba(255, 255, 255, 0.4);    
    font-size: 80px;
    position: relative;
    top: -400px;
    left: 15%;
}


#p-2{
    font-family: "Hillshort";
    color: rgba(255, 255, 255, 0.4);    
    font-size: 70px;
    position: relative;
    left: 80%;
}

.scroll-downs {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0 auto;
    width :34px;
    height: 55px;
    z-index: 15;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/*about me*/
#about{
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    padding-top: 250px;
}
.bar-1{
    width: 265px;
    height: 1px;
    background-color: #000;
    margin-top: 25px;
}
.photo{
    margin-top: 20px;
    margin-left: 150px;
    overflow: hidden;
    width: 300px;
}
#about h1{
    font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 36px;
        text-align: center;

}
#about> p{
    font-family: 'Noto Sans KR';
    font-size: 28px;
    margin-top: 55px;
    text-align: left;
    color: #666;
    position: relative;
    left: 850px;
}
#about> p span{
    color: #000D7D;
}
.animate__animated.animate__bounce {
    --animate__infinite: infinite;
  }

.profild-text{
    margin-top: -280px;
}
.profile{
    margin: 0 auto;
    position: relative;
    left: 850px;
}
.profile-p{
    position: relative;
    top: -50px;
    left: 185px;
}
.bar{
    width: 80px;
    height: 1px;
    background-color: #666;
    margin-right: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.profile>h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #0B004E;
}
.profile p{
    font-family: 'Noto Sans KR';
    font-size: 18px;
}
.bar-2{
    width: 80px;
    height: 1px;
    background-color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    left: 850px;
}

.experience>h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #0B004E;
}
.experience-p{
    font-family: 'Noto Sans KR';
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -60px;
    left: 185px;
}
.experience p>span{
    color: #666;
    margin-right: 15px;
}
.skills>h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #0B004E;
}
.skills{
    margin: 0 auto;
    position: relative;
    left: 850px;
}
.bar-3{
        width: 60px;
        height: 1px;
        background-color: #666;
        margin-right: 13px;
        margin-top: 10px;
        margin-bottom: 20px;
}
.skills-img ul{
    display: flex;
    position: relative;
    top: -40px;
    left: 180px;
}
.skills-img ul li{
    margin-left: 8px;
    margin-right: 8px;
}
.skills-img ul li:first-child{
    margin-left: 0px;
}
/*스킬*/
/* #skills{
    width: 1440px;
    margin: 0 auto;
}
#skills h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 36px;
    text-align: center;
}
.skills-info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.html img{
    width: 100px;
    height: 100px;
}
.html h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    text-align: center;

}
.css img{
    width: 100px;
    height: 100px;
}
.css h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}
.java img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.java h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
}
.jquery img{
    width: 100px;
    height: 100px;
}
.jquery h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
}
.illust img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.illust h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
}
.photoshop img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}
.photoshop h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
}
.premiere img{
    width: 156px;
    height: 100px;
    margin-left: 30px;
}
.premiere h3{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
} */
/*work*/
#work{
    width: 1440px;
    margin: 0 auto;
    margin-top: 250px;
}
#work-list{
    margin-top: 50px;
}
.little-h{
    font-style: 36px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
}.little-h2{
    font-style: 36px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: right;
}
#work h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 36px;
    text-align: center;
}
#work-1{
    display: flex;
    height: 600px;
}
.work-img1{
    width: 720px;
    background-color: #BDD6ED;
}

.work-img1 h3{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding-top: 14px;
    margin-left: 14px;
}
.page{
    width: 150px;
    padding: 10px 20px;
    height: 30px;
    background-color: #BDD6ED;
    color: #666;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    left: 200px;
    bottom: -40px;
}
.detail{
    width: 150px;
    padding: 8px 30px;
    height: 30px;
    background-color: #BDD6ED;
    color: #666;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    left: -70px;
    bottom: -40px;
}
.page2{
    width: 150px;
    padding: 10px 20px;
    height: 30px;
    background-color: #252B6B;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    left: 200px;
    bottom: -40px;
}
.detail2{
    width: 150px;
    padding: 8px 30px;
    height: 30px;
    background-color: #252B6B;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    left: -70px;
    bottom: -40px;
}
.page:hover,
.detail:hover{
    background-color: #252B6B;
    color: #fff;
}


.page2:hover,
.detail2:hover{
    background-color: #BDD6ED;
    color: #666;
}
.work-text{
    display: flex;
    width: 720px;
    height: 600px;
    padding-top: 50px;
    background-color: #FFFBF1;
}
.over{
    font-family: 'Noto Sans KR';
    margin-top: 20px;
}
.over h3{
    font-size: 24px;
    margin-top: 32px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.over p{
    font-size: 18px;
    margin-left: 50px;
}
.over h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 50px;
}
.over h5{
    margin-left: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.work-info{
    margin-top: 1em;
}
#work-2{
    display: flex
}
.work-img2{
    width: 720px;
    height: 600px;
    background-color: #252B6B;
}
.work-img2 h3{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding-top: 14px;
    margin-left: 14px;
}
.work-list:nth-child(2){
    flex-direction: row-reverse;
}
.work-list:nth-child(5){
    flex-direction: row-reverse;
}

#work-3{
    display: flex
}
.work-img3{
    width: 720px;
    height: 600px;
    background-color: #BDD6ED;
}
.work-img3 h3{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 24px;
    padding-top: 14px;
    margin-left: 14px;
    color: #fff;

}
#work-4{
    display: flex
}
.work-img4{
    width: 720px;
    height: 600px;
    background-color: #252B6B;
}
.work-img4 h3{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 24px;
    padding-top: 14px;
    margin-left: 14px;
    color: #fff;

}

/*스와이퍼*/
.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    height: 70%;
    object-fit: cover;
  }
  .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    border-radius: 20;
    background-color: #FFFBF5;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #0B004E;
    opacity: 1;
}
.swiper-pagination{
    bottom: 50px !important;
}
/*gallery*/
.container2 {
    width: 90%;
    margin: 0 auto;
  }
  
#gallery{
    margin-top: 200px;
}
#gallery h2{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 200px;
}

#gallery .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #gallery .col {
    width: 32%;
    aspect-ratio: 4/3;
    /* outline: 1px solid red; */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
    margin-bottom: 20px;
  }
  
  #gallery .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

/*컨택*/
#contact{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    min-width: 1440px;
    background-color: #FFFBF1;
    margin-top: 200px;
}
#contact h5{
    font-family: 'Montserrat', sans-serif;    
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    color: #0B004E;
    position: relative;
    top: -250px;
    left: 450px;
}
.con-1{
    position: relative;
    left: 350px;
    top: 100px;
}
.con-2{
    position: relative;
    left: 250px;
    top: 180px;
}
.con-3{
    position: relative;
    top:-350px;
    right: -800px;
    animation: ani 3s linear infinite;
}
@keyframes ani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        right: -350px;
    }
}
.con-4{
    position: relative;
    top: 400px;
    left: -600px;
    animation: con 3s linear infinite;
}
@keyframes con{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: -100px;
    }
}

#contact .adress{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    position: relative;
    left: 70%;
    color: #000;
}
#contact .adress span{
    font-size: 24px;
}
#contact a{
    color: #000;
    position: relative;
    left: 87%;
    top: 20px;
    font-size: 20px;
    border: 1px solid #000;
    padding: 5px;
}
.adress p>span{
    animation: nav  2s linear  infinite;
}
@keyframes nav {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
